page-expandable {

}

.divesBtn{
    background-color: white;
    padding-top: .5em;
    padding-left: .5em;
}

.diveBtnTitle{
    text-align: left;
}

.diveBtnBody{
    text-align: left;
    margin-top: 1em;
    transition-duration: 500ms;
}