$font-path: "../assets/fonts";

$app-direction: ltr;

$toolbar-background: #488aff;

@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

.diveChart{
  // background-color: hotpink;
  max-height: 30em;
  width: auto;
}

.addLogBtn{
  background-color: #32db64;
  border: .1em solid green;
  width: 10em;
  min-height: 2em;
  border-radius: .5em;
}

.timeFixer{
  width: 12em;
}

.pushRight{
  margin-left: 1em;
}

.alignRight{
  text-align: right;
  display: inline-block;
}

.diveAddInput{
  width: 15em;
}

.addDiveLabel{
  display: inline-block;
  width: 10em;
}

.addItem{
  font-size: 1.5em;
  border-radius: 3em;
  height: 3em;
  width: 3em;
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 1000;
  background-color: lightseagreen;
  color: white;
}

.chartTable{
  margin: 0px;
  padding: 0px;
}

.tableHead{
  // background-color: #488aff;
  background: linear-gradient(#488aff, lightskyblue);
}

.tableBody{
  // background-color: #a2a6ac;
  background: linear-gradient(rgb(141, 138, 138), #cfd4dd);
}
