#toggleLogIn{
    margin-top: .2em;
    z-index: 9999;
    margin-right: .2em;
    height: 3.2em;
    width: 3.2em;
    text-align: center;
    background-color: #488aff;
}

#userEmail{
    background-color: #488aff;
    color: white;
    border-left: .1em solid black;
    border-right: .1em solid black;
    border-top: .1em solid black;
    margin-bottom: 0;
}

.logInOut{
    margin-top: 0;
    background-color: #488aff;
    color: white;
    border-left: .1em solid black;
    border-right: .1em solid black;
    border-bottom: .1em solid black;
}